<p>
  <button type="button" href="/" class="btn btn-lg btn-default">Back</button>
  <button type="button" href="/" class="btn btn-lg btn-primary">Back</button>
  <button type="button" href="/" class="btn btn-lg btn-success">Back</button>
  <button type="button" href="/" class="btn btn-lg btn-info">Back</button>
  <button type="button" href="/" class="btn btn-lg btn-warning">Back</button>
  <button type="button" href="/" class="btn btn-lg btn-danger">Back</button>
  <button type="button" href="/" class="btn btn-lg btn-link">Back</button>
</p>