/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#wrapper {
	max-width: 700px;
	margin: 0 auto;
}

.header {
	overflow: hidden;
	margin: 20px 0;
}

.all-users li {
	overflow: hidden;
	padding: 7px 2px;
	font-size: 1.2em;
}

.all-users li:nth-child(odd) {
	background: #eee;
}

.all-users li .btn {
	float: right;
}