<!DOCTYPE html>
<html>
<head>
  <title>BackboneMeetupRails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="wrapper">
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  <h3 class="text-muted">Backbone.js Project</h3>
</div>

<div id="container"></div>

</div>

<%= javascript_include_tag "app/lib/require", "data-main" => 'assets/app/main' %>
</body>
</html>
